<example-count *ngIf="examples" [all]="getTotalExamplesCount()"
               [justOne]="getTotalExamplesOneCount()"
               [lessThanOne]="getTotalExamplesLessThanOneCount()"
               (countRadioButtonSelectionChanged)="onExampleCountRadioButtonChange($event)">
</example-count>
<br /><br />
<table>
    <thead>
        <tr>
            <th>Example Id</th>
            <th>Example String</th>
            <th>Example Number</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let example of examples">
            <tr *ngIf="selectedExampleCountRadioButton == 'All' || selectedExampleCountRadioButton == example.exampleString">
                <!--<td><a [routerLink]="['/examples', example.exampleId, 'edit']">{{ example.exampleId }}</a></td>--><!--use 'edit' when placing a url distinguishing location-->
                <!--<td><a [routerLink]="['/examples/'+ example.exampleId + '/edit']">{{ example.exampleId }}</a></td>--><!--Alternatively, may use full URL in a single string-->
                <!--<td><a [routerLink]="['/examples', example.exampleId]" [queryParams]="{ filterBy: 'filte', showImage: true }">{{ example.exampleId }}</a></td>--><!--Query Parameters example-->
                <!--Finally, use [queryParamsHandling]="true" in an implementing element (i.e. btn-back or btn-cancel) to preserve the query parameter (would NOT implement on this html)-->
                <td><a [routerLink]="['/examples', example.exampleId]">{{ example.exampleId }}</a></td>
                <td>{{ example.exampleString }}</td>
                <td>{{ example.exampleNumber }}</td>
            </tr>
        </ng-container>
        <tr *ngIf="!examples">
            <td colspan="6">{{ statusMessgae }}</td>
        </tr>
        <tr *ngIf="examples && examples.length == 0">
            <td colspan="6">No Orders to Display</td>
        </tr>
    </tbody>
</table>
<br />
<div>
    Color Preference : <input type='text' [(ngModel)]='color' [style.background]='color' />
</div>