<example-count *ngIf="examples" [all]="getTotalExamplesCount()"
               [justOne]="getTotalExamplesOneCount()"
               [lessThanOne]="getTotalExamplesLessThanOneCount()"
               (countRadioButtonSelectionChanged)="onExampleCountRadioButtonChange($event)">
</example-count>
<br /><br />
<table>
    <thead>
        <tr>
            <th>Example Id</th>
            <th>Example String</th>
            <th>Example Number</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let example of examples">
            <tr *ngIf="selectedExampleCountRadioButton == 'All' || selectedExampleCountRadioButton == example.userName">
                <!--    below, we want to bind to the input property inside the "ExampleListDisplayComponent" component called 'exampmles' (in straight brackets) by passing the example object of the examples set-->
                <list-display-example [example]="example"></list-display-example> <!--Parent to Child data passing example-->
                <!--    Styling is going to be crap, but it's just an example anyway. MOST styles'd be in Stylus (OR, some projects won't have Stylus, so just know that the Tables are in differnt html files, which causes style issues)-->
            </tr>
        </ng-container>
        <tr *ngIf="!examples">
            <td colspan="6">{{ statusMessage }}</td>
        </tr>
        <tr *ngIf="examples && examples.length == 0">
            <td colspan="6">No Orders to Display</td>
        </tr>
    </tbody>
</table>
<br />
<div>
    Color Preference : <input type='text' [(ngModel)]='color' [style.background]='color' />
</div>