<table *ngIf="example">
    <thead>
        <tr>
            <th colspan="2">Example Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Example Id</td>
            <td>{{ example.exampleId }}</td>
        </tr>
        <tr>
            <td>Example String</td>
            <td>{{ example.exampleString }}</td>
        </tr>
        <tr>
            <td>Example Number</td>
            <td>{{ example.exampleNumber }}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!example">{{ statusMessage }}</div>
<br />
<div>
    <input type="button" value="Back To Examples List" (click)="onBackButtonClick()" />
</div>
<div *ngIf="!subscription.closed">
    <input type="button" value="Cancel The Request" (click)="onCancelButtonClick()" />
</div>