<table *ngIf="example">
    <thead>
        <tr>
            <th colspan="2">Example Details</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Example Id (userName)</td>
            <td>{{ example.userName }}</td>
        </tr>
        <tr>
            <td>Example First Name</td>
            <td>{{ example.firstName }}</td>
        </tr>
        <tr>
            <td>Example Last Name</td>
            <td>{{ example.lastName }}</td>
        </tr>
    </tbody>
</table>
<div *ngIf="!example">{{ statusMessage }}</div>
<br />
<div>
    <input type="button" value="Back To Examples List" (click)="onBackButtonClick()" />
</div>
<div *ngIf="!subscription.closed">
    <input type="button" value="Cancel The Request" (click)="onCancelButtonClick()" />
</div>