<!--<td><a [routerLink]="['/examples', example.exampleId, 'edit']">{{ example.userName }}</a></td>--><!--use 'edit' when placing a url distinguishing location-->
<!--<td><a [routerLink]="['/examples/'+ example.exampleId + '/edit']">{{ example.userName }}</a></td>--><!--Alternatively, may use full URL in a single string-->
<!--<td><a [routerLink]="['/examples', example.exampleId]" [queryParams]="{ filterBy: 'filte', showImage: true }">{{ example.userName }}</a></td>--><!--Query Parameters example-->
<!--Finally, use [queryParamsHandling]="true" in an implementing element (i.e. btn-back or btn-cancel) to preserve the query parameter (would NOT implement on this html)-->
<td><a [routerLink]="['/examples', example.userName]">{{ example.userName }}</a></td>
<td>{{ example.firstName }}</td>
<td [ngSwitch]="example.lastName"><!--Switch Case statement example-->
    <!--NOT WORKING at the moment, just shows the 'ngSwitchDefault' value , hmm-->
    <span *ngSwitchCase="Enrico">Me</span>
    <span *ngSwitchCase="TestLastName">NotMe</span>
    <span *ngSwitchDefault>{{ example.lastName | uppercase }}</span><!--NOT included are "Pipe" material such as CUSTOM Pipes, Pure or impure pipes. it's just this simple pipe example-->
</td>

<!--(above)Parent to Child data passing example-->