/*	Buttons */
.btn
	font-size 20px
	line-height 1.4
	font-weight $weight-bold
	text-decoration none
	display inline-block
	border-radius 3px
.btn-primary
	background-color $color-secondary
	color $color-white
	padding 10px 20px
.btn-secondary
	background-color $color-primary
	color $color-white
	padding 10px 20px
.btn-light
	background-color $color-gray-light
	color $color-gray-medium
	padding 10px 20px
	
.btn-ease-bckgrd
	transition background-color .25s ease

.btn-grow-shadow
	vertical-align middle
	-webkit-transform perspective(1px) translateZ(0)
	transform perspective(1px) translateZ(0)
	box-shadow 0 0 1px transparent
	-webkit-transition-duration 0.3s
	transition-duration 0.3s
	-webkit-transition-property box-shadow, transform
	transition-property box-shadow, transform
	&:hover, :focus, :active
		box-shadow 0 5px 5px -5px rgba(0, 0, 0, 0.5)
		-webkit-transform scale(1.05)
		transform scale(1.05)
		background-color rgba($color-gray-medium, .2)

[class^="btn-"]
	margin .4em
	padding 1em
	cursor pointer
	text-decoration none
	color $color-gray-medium
	-webkit-tap-highlight-color rgba(0,0,0,0)
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale

/*	Show / Hide */
.hide-tablet-down
	@media $tablet-down
		display none

.hide-tablet-up
	@media $tablet-up
		display none

@media $tablet-down
	.container.no-container-tablet-down
		max-width 100%

.hide
	display none

/* Animation Helpers */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes slideInFromLeft { 0% { transform: translateX(-1200px); } 100% { transform: translateX(0); } }
@keyframes slideInFromRight { 0% { transform: translateX(1200px); } 100% { transform: translateX(0); } }

.lbl-error
	color red
	visibility hidden