// LAYOUT ----------------------
$base-size = 16 // base size for font and element sizes
$rem = 1/$base-size // FOR MIXIN USE ONLY, convert px to rem (E.g. 12*$rem rem)
$px = $base-size // FOR MIXIN USE ONLY, convert rem to px (E.g. 12*$px rem)

base-font-size = ($base-size/16)*100% // variable for stylus-type-utils
support-for-ie = true // Set to 'false' for no 'px' output with 'rem'

// RESPONSIVE ----------------------
// use EM for now because iOS 6.1 doesn't support REMs
$phone-tiny-width = 375/$base-size em
$phone-small-width = 575/$base-size em
$phone-width = 767/$base-size em
$tablet-width = 768/$base-size em
$desktop-width = 992/$base-size em
$desktop-large-width = 1200/$base-size em
$desktop-xl-width = 1440/$base-size em
$desktop-hd-width = 1600/$base-size em

$mobile-viewport = 320

// TYPOGRAPHY ----------------------
$font-size-base = ($base-size/16)*100%
$font-primary = Impact, Cochin, Georgia, Times//'Open Sans', sans-serif

$weight-regular = 400
$weight-bold = 700

fontFamilyBody()
	font-family $font-primary

// z-index
$below-content = 1
$content = 2
$above-content = 3
$header-content = 4

// Colors
$color-primary = darkslategrey	//darkslategrey, gainsboro, maroon #BFD546
$color-secondary = antiquewhite//maroon 	//#FF641C
$color-tertiary = #F7001B
$color-gray-dark = #555555
$color-gray-medium = #777777
$color-gray-light= #F1F1F2
$color-gray-border = #d8d8d8
$color-white = #FFFFFF
$color-off-white = gainsboro
$color-black = #000000
$primaryTextColor = $color-black
$font-secondary = $color-gray-dark

$gradient-primary = linear-gradient(150deg, $color-gray-dark, $color-gray-light)
$gradient-secondary = linear-gradient(270deg, $color-gray-light, $color-gray-dark)

// BOX MODELING ----------------------
//$padding-sectional = 25px 0px