// ----------------------------
// BASE - elements that don't have classes or IDs
// ----------------------------
img
	width 100%
	max-width 100%
	overflow hidden
	@media $tablet-down
		height auto

html
	margin 0
	padding 0
	font-size 18px
	height initial
	min-height 100%
	// momentum scrolling for iOS
	overflow-y scroll /* has to be scroll, not auto */
	-webkit-overflow-scrolling touch

	// proper font weight and smoothing rendering
	-webkit-font-smoothing antialiased
	-moz-osx-font-smoothing grayscale
d
	// ie scroll bar overlay
	-ms-overflow-style scrollbar

	@media only screen and (-webkit-min-device-pixel-ratio: 1.25),
	only screen and ( min-device-pixel-ratio: 1.25),
	only screen and ( min-resolution: 200dpi),
	only screen and ( min-resolution: 1.25dppx)
		-webkit-font-smoothing subpixel-antialiased
		-moz-osx-font-smoothing grayscale

body
	margin 0
	padding 0
	font-size 18px
	line-height 1.56
	font-family $font-primary
	color $color-gray-medium
	font-style normal
	overflow hidden
	height 100%
	width 100%
main
	min-height -webkit-calc(100vh - 146px)
	min-height -moz-calc(100vh - 128px)
	min-height -ms-calc(100vh - 146px)
	min-height calc(100vh - 146px)
p
	font-size 18px
	line-height 2

a
	text-decoration none
	font-size 18px
	line-height 1.56

ul
ol
	color $color-gray-medium
	padding 0
	margin 0

iframe
	display block // remove whitespace under iframe

select
	-moz-appearance none
	-webkit-appearance none

	&::-ms-expand
		display none

section
	0
	background-color lime

h1
	color $color-primary
	font-size 48px
	margin-bottom 30px
h2
	color $color-primary
	font-size 40px

	@media $tablet-up
		font-size 40px

h3
	color $color-gray-dark
	font-size 32px

h4
	color $color-gray-dark
	font-size 24px
	display inline-block
	margin-top 0px
	margin-bottom 13px
	@media $tablet-down
		margin-bottom 0px

h5
	font-size 20px
	color $color-gray-dark
	margin-top 0px
	margin-bottom 0px
h6
	font-size 20px
	color $color-gray-dark

sup
	top -.5em

.line-break
	border-top 1px solid black
	height 3px
	opacity .5
	zoom 1

/*	bootstrap overrides */
a:not([href]):not([tabindex])
	color $color-white