header
	position fixed
	width 100%
	z-index 1
	.primary-nav
		margin-top -200%
		transition .6s ease-in-out
	.primary-nav.open
		margin-top 0px
		transition .6s ease-in-out
		background-color $color-primary
		.logo-placeholder
			display none
			@media $desktop-up
				display inline-block
				img
					max-width 125px
		.nav-right-list
			display block
			@media $desktop-up
				display inline-block
				margin-top 30px
				float right
	.secondary-nav
		margin-top -200%
		transition .6s ease-in-out
	.secondary-nav.open
		margin-top 0px
		transition .6s ease-in-out
		background-color $color-secondary
		.secondary-nav-list
			@media $desktop-up
				padding 15px 0px
				text-align right
	li
		display block
		text-align center
		padding 10px 0px
		text-transform uppercase
		@media $desktop-up
			display inline
			margin-left 25px
			text-transform unset
#nav-cusion
	@media $desktop-up
		margin-bottom 160px
.mobile-button-section
	display block
	background-color $color-tertiary
	padding 15px 0px
	min-height 70px
	@media $desktop-up
		display none

/*	Hamburger Button Styles */
#btn-nav-menu
	width 40px
	height 35px
	position absolute
	transform rotate(0deg)
	transition .5s ease-in-out
	cursor pointer
	right 15px
#btn-nav-menu span
	display block
	position absolute
	height 6px
	width 100%
	background $color-secondary
	border-radius 2px
	opacity 1
	left 0
	transform rotate(0deg)
	transition .25s ease-in-out
#btn-nav-menu span:nth-child(1)
	top 0px
#btn-nav-menu span:nth-child(2), #btn-nav-menu span:nth-child(3)
	top 15px
#btn-nav-menu span:nth-child(4)
	top 30px
#btn-nav-menu.open span:nth-child(1)
	top 18px
	width 0%
	left 50%
#btn-nav-menu.open span:nth-child(2)
	transform rotate(45deg)
#btn-nav-menu.open span:nth-child(3)
	transform rotate(-45deg)
#btn-nav-menu.open span:nth-child(4)
	top 18px
	width 0%
	left 50%
#loginLogoutPlaceholder
	cursor pointer
	color $color-gray-medium