<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Reactive Form Registration</h3>
                </div>
                <div class="card-body">
                    <form [formGroup]="reactiveFormGroup" (ngSubmit)="onSubmit()">
                        <div class="form-group" [ngClass]="{ 'has-error' : formErrors.firstName}">
                            <label for="firstName" class="col-lg-3">First Name</label>
                            <input id="firstName" type="text" class="form-control" formControlName="firstName" (blur)="logValidationErrors()"><!--"blur" is used to validate only what is focused-->
                            <span class="help-block" *ngIf="formErrors.firstName">{{formErrors.firstName}}</span>
                        </div>
                        <div class="form-group">
                            <label for="lastName" class="col-lg-3">Last Name</label>
                            <input id="lastName" type="text" class="form-control" formControlName="lastName" (blur)="logValidationErrors()">
                            <span class="help-block" *ngIf="formErrors.lastName">{{formErrors.lastName}}</span>
                        </div>
                        <div class="form-group">
                            <label for="userName" class="col-lg-3">Username</label>
                            <input id="userName" type="text" class="form-control" formControlName="userName">
                        </div>

                        <br />
                        <div class="form-group">
                            <label>Contact Preference</label>
                            <label class="radio-inline"><input type="radio" value="email" formControlName="contactPreference" />email</label>
                            <label class="radio-inline"><input type="radio" value="phone" formControlName="contactPreference" />phone</label>
                        </div>
                        <div formGroupName="emailGroup">
                            <div class="form-group" [ngClass]="{ 'has-error' : formErrors.email}">
                                <label for="email" class="col-lg-3">Email</label>
                                <input id="email" type="text" class="form-control" formControlName="email" (blur)="logValidationErrors()">
                                <span class="help-block" *ngIf="formErrors.email">{{formErrors.email}}</span>
                            </div>
                            <div class="form-group" [ngClass]="{ 'has-error' : formErrors.confirmEmail || formErrors.emailGroup}">
                                <label for="confirmEmail" class="col-lg-3">Confirm Email</label>
                                <input id="confirmEmail" type="text" class="form-control" formControlName="confirmEmail" (blur)="logValidationErrors()">
                                <span class="help-block" *ngIf="formErrors.confirmEmail || formErrors.emailGroup">
                                    {{formErrors.confirmEmail ? formErrors.confirmEmail : formErrors.emailGroup}}
                                </span>
                            </div>
                        </div>
                        <div class="form-group" [ngClass]="{ 'has-error' : formErrors.phone}">
                            <label for="phone" class="col-lg-3">Phone</label>
                            <input id="phone" type="text" class="form-control" formControlName="phone">
                            <span class="help-block" *ngIf="formErrors.phone">{{formErrors.phone}}</span><!--currently does NOT show validation when updateValueAndValidity() is called (it should)-->
                        </div>
                        <div class="form-group">
                            <label for="password" class="col-lg-3">Password</label>
                            <input id="password" type="text" class="form-control" formControlName="password">
                        </div>

                        <br />
                        <div formGroupName="nestedGroup">
                            <div class="form-group">
                                <label for="nestedGroupName">Nested Group</label>
                                <input type="text" id="nestedGroupName" formControlName="nestedGroupName" placeholder="Nested Group Name" />
                                <input type="text" placeholder="Experience" formControlName="experienceInYears" />
                            </div>
                            <div class="form-group">
                                <label>Proficiency</label>
                                <input type="radio" value="beginner" formControlName="proficiency" />Beginner
                                <input type="radio" value="intermediate" formControlName="proficiency" />Intermediate
                                <input type="radio" value="advanced" formControlName="proficiency" />Advanced
                            </div>
                        </div>
                        <br />
                        <div class="well">
                            <div class="form-group">
                                <div class="col-md-offset-2 col-md-4">
                                    <button type="button" class="btn btn-primary" (click)="addDynamicGroupButton_Click()" [disabled]="reactiveFormGroup.get('dynamicNestedGroup').invalid">Dynamically Add Group</button>
                                </div>
                            </div>
                            <div formArrayName="dynamicNestedGroup" *ngFor="let group of reactiveFormGroup.get('dynamicNestedGroup').controls; let i = index">
                                <div [formGroupName]="i">
                                    <!--zero (above) is the index-->
                                    <hr *ngIf="i > 0" />
                                    <div class="form-group" [ngClass]="{'has-error':group.get('dynamicNestedGroupName').invalid && group.controls.dynamicNestedGroupName.touched}">
                                        <label [attr.for]="'dynamicNestedGroupName' + i">Dynamic Array Nested Group</label><!-- 'for' does not have attribute binding, so we use 'attr'-->
                                        <div class="col-sm-4">
                                            <input type="text" [id]="'dynamicNestedGroupName' + i" formControlName="dynamicNestedGroupName" />
                                            <span class="help-block" *ngIf="group.get('dynamicNestedGroupName').errors?.required && group.controls.dynamicNestedGroupName.touched">Dynamic Group Required</span>
                                        </div>
                                        <div class="col-sm-6" *ngIf="reactiveFormGroup.get('dynamicNestedGroup').length > 1"> <!--*ngIf="i > 0">-->
                                            <button type="button" class="btn btn-danger btn-sm pull-right" title="Delete Group" (click)="removeDynamicGroup_click(i)">
                                                <span class="glyphicon glyphicon-remove">X</span>
                                            </button>
                                        </div>
                                        <label [attr.for]="'dynamicExperienceInYears' + i">Dynamic Array Nested Group</label><!-- 'for' does not have attribute binding, so we use 'attr'-->
                                        <input type="text" [id]="'dynamicExperienceInYears' + i" formControlName="dynamicExperienceInYears" />
                                    </div>
                                    <div class="form-group">
                                        <label [attr.for]="'dynamicProficiency' + i">Dynamic Proficiency</label>
                                        <input type="radio" value="beginner" formControlName="dynamicProficiency" />Beginner
                                        <input type="radio" value="intermediate" formControlName="dynamicProficiency" />Intermediate
                                        <input type="radio" value="advanced" formControlName="dynamicProficiency" />Advanced
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <div class="btn-toolbar">
                            <button class="btn btn-primary" type="submit">Register</button>
                            <button class="btn btn-primary" type="button" (click)="loadFakeDataClick()">Load Fake Data</button>
                            <button class="btn btn-primary" type="button" (click)="loadFakeDataPatchClick()">Load Fake PATCH Data</button>
                            <button class="btn btn-primary" type="button" (click)="DisableNestFormClick()">Disable Nest Form</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
