<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    <form class="form">
                        <div class="form-group">
                            <label for="registerUserFirstName">First Name</label>
                            <input type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.firstName" name="firstname" placeholder="place holder text" required>
                        </div>
                        <div class="form-group">
                            <label for="registerUserLastName">Last Name</label>
                            <input type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.lastName" name="lastname" placeholder="place holder text" required>
                        </div>
                        <div class="form-group">
                            <label for="registerUserName">UserName</label>
                            <input type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.username" name="username" placeholder="place holder text" required>
                        </div>
                        <div class="form-group">
                            <label for="registerEmail">Email</label>
                            <input type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.email" name="email" placeholder="place holder text" required>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" class="form-control rounded-0" [(ngModel)]="registeringUser.password" name="password" required>
                        </div>

                        <button type="button" (click)="registerUser()" class="btn btn-primary float-right">Register</button>
                        <label class="lbl-error" id="lblResult">Error Occurred</label>
                    </form>
                </div>
                <!--/card-block-->
            </div>
            <!-- /form card login -->
        </div>

    </div>
</div>