<div class="py-5">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <span class="anchor" id="formLogin"></span>
            <!-- form card login -->
            <div class="card rounded-0">
                <div class="card-header">
                    <h3 class="mb-0">Register</h3>
                </div>
                <div class="card-body">
                    <form class="form" #registrationForm="ngForm">
                        <div class="form-group">
                            <label for="registerUserFirstName">First Name</label>
                            <input id="registerUserFirstName" autofocus type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.firstName" name="firstname" placeholder="place holder text" required>
                        </div>
                        <div class="form-group" [class.has-error]="lastNameControl.invalid && lastNameControl.touched" [class.hass-success]="lastNameControl.valid"><!--REPLACE "help-block" with an actual syle class name-->
                            <label for="registerUserLastName">Last Name</label>
                            <input id="registerUserLastName" type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.lastName" name="lastname" placeholder="place holder text" #lastNameControl="ngModel" required>
                            <!--    Right now, we're just not using the #lastNameControl variable   -->
                            <span *ngIf="lastNameControl.errors?.required && lastNameControl.touched" class="help-block">Last Name is Required</span><!--REPLACE "help-block" with an actual syle class name-->
                            <span *ngIf="lastNameControl.errors?.pattern && lastNameControl.touched" class="help-block">Last Name is Invalid</span><!--REPLACE "help-block" with an actual syle class name-->
                        </div>
                        <div class="form-group">
                            <label for="registerUserName">UserName</label>
                            <input id="registerUserName" type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.username" name="username" placeholder="place holder text" required>
                        </div>
                        <div class="form-group">
                            <label for="registerEmail">Email</label>    <!--for pattern (below) to strict to a specific email domain, use pattern="^[a-zA-Z0-9_.+-]+@(?:(?:[a-zA-Z0-9-]+\.)?[a-zA-Z]+\.)?(theemaildomain)\.com$"    -->
                            <input id="registerEmail" type="text" class="form-control rounded-0" [(ngModel)]="registeringUser.email" name="email" placeholder="place holder text" pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-.]+$" required>
                        </div>
                        <div class="form-group">
                            <label for="registerPassword">Password</label>
                            <input id="registerPassword" type="password" class="form-control rounded-0" [(ngModel)]="registeringUser.password" name="password" required>
                        </div>

                        <button type="button" (click)="registerUser()" class="btn btn-primary float-right" [disabled]="registrationForm.invalid" >Register</button>
                        <label class="lbl-error" id="lblResult">Error Occurred</label>
                    </form>
                </div>
                <!--/card-block-->
            </div>
            <!-- /form card login -->
        </div>

    </div>
</div>