
@{
	ViewData["Title"] = "Help";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>Help for Settings - OVERALL (Index) page</h1>
<h4>Need a <strong>SIDE MENU</strong> to mimic the following pages (or sections):</h4>
<ul>
	<li>
		<strong>Contact Us</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">Shows Bulding Info (ALSO other mgmt info), Google interactive map, etc..</span>
	</li>
	<li>
		<strong>FAQ</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">Question and Answer set (List)</span>
	</li>
	<li>
		<strong>Condos 101</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">Dictionary of Terms, How-To's</span>
		<br /><span style="margin-left:25px;">users and buld mgmgt may contribute</span>
	</li>
	<li>
		<strong>Guide</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">page that shows various tutorials on how to do what</span>
		<br /><span style="margin-left:25px;">PHASE 2 should use a popup modal step-be-step guide  as another option</span>
	</li>
</ul>
