@{
	ViewData["Title"] = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Index for Settings</h2>
<h4>Need a <strong>SIDE MENU</strong> to mimic the following pages (or sections):</h4>
<p>shows all pages inside this directory (with, maybe, some detail about each page)</p>
<ul>
	<li>
		<strong>Feedback</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">provides an opportunitiy for feedback or requests for improvements</span>
	</li>
	<li>
		<strong>Help</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">shows list of Help Topics</span>
		<br /><span style="margin-left:25px;">also contains glossary (maybe)</span>
	</li>
	<li>
		<strong>Profile Management</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">Shows a list of things that can be done through the management profiler, set share settings (what is the public/association-members able to see from the profile)</span>
		<br /><span style="margin-left:25px;">don’t forget 'Papaerless', ALOS shows a list of what is NOT complete about the SET-UP process</span>
	</li>
	<li>
		<strong>Renters Permission Levels</strong>
		<br /><span style="margin-left:25px;">Should be it's own page (or html file of a tempalte)</span>
		<br /><span style="margin-left:25px;">Shows a list of permissions that a UNIT owner can set for a Renter</span>
		<br /><span style="margin-left:25px;"><i>If user is a Rentee</i>, then it shows the levels of permissions that an owner has set for the rentee</span>
	</li>
</ul>
