<div class="app-component">
    <h1>{{pageHeader}}!</h1>
    <nav class="navbar- navbar-expand-lg navbar-dark bg-dark">
        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li routerActive="bootstrap-mimic-active" class="navbar-item">
                    <a routerLink="/home" routerLinkActive="active" class="navbar-link">Home</a>
                </li>
                <li routerActive="bootstrap-mimic-active" class="navbar-item">
                    <a routerLink="/examples" routerLinkActive="active" class="navbar-link">Examples</a><!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
                </li>
                <!--<li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryExampleRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li>--><!-- This uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD)-->
            </ul>
            <ul class="navbar-nav">
                <li routerActive="bootstrap-mimic-active"><a routerLink="/login" routerLinkActive="active">Home</a></li>
                <li routerActive="bootstrap-mimic-active"><a routerLink="/register" routerLinkActive="active">Examples</a></li><!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
                <!--<li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryExampleRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li>--><!-- This uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD)-->
            </ul>
        </div>
    </nav>
    <div class="container">
        <router-outlet></router-outlet>
        <router-outlet name="secondaryExampleRouterOutlet"></router-outlet>
    </div>
</div>