<div class="app-component">
    <h1>{{pageHeader}}!</h1>
    <ul class="nav navbar-nav">
        <li routerActive="bootstrap-mimic-active"><a routerLink="/home" routerLinkActive="active">Home</a></li>
        <li routerActive="bootstrap-mimic-active"><a routerLink="/examples" routerLinkActive="active">Examples</a></li><!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
        <!--<li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryExampleRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li>--><!-- This uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD)-->
    </ul>
    <router-outlet></router-outlet>
    <router-outlet name="secondaryExampleRouterOutlet"></router-outlet>
</div>