@page
@{
    ViewData["Title"] = "What The Devil ?!";
}
<!--    Razor Pages MUST begin with the ' @@page ' syntax to tell asp.net core that this is a Razor page -->
<h2>@ViewData["Title"]</h2>
<h5>Discrepancy</h5>
<p>There seems to be some discrepenciy with the site, Please try again later!</p>