<header>
    <div id="mobile-button-section">
        <div id="btn-nav-menu">
            <span></span><span></span><span></span><span></span>
        </div>
    </div>
    <div id="primary-nav">
        <div class="name-description">
            <h1>Enrico Espina</h1>
            <p> - Combat Ninja <i style="font-family: times;">(ret.)</i></p>
        </div>
        <ul class="nav-right-list">
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="/home" routerLinkActive="active" class="navbar-link">Home</a>
            </li>
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="/examples" routerLinkActive="active" class="navbar-link">Examples</a><!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
            </li>
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="/reactiveForm" routerLinkActive="active">Reactive Form Example</a>
            </li>
            <!--<li routerActive="bootstrap-mimic-active"><a routerLink="[{ outlets: { secondaryExampleRouterOutlet: ['Another-Link-Parameters-Array-specifying-secondary-path'] } }]">Home</a></li>-->
            <!-- The above uses the example below. this syntax, here, should be implemented as such elsewhere (SHOULD USE CODE INSTEAD)-->
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a routerLink="/register" routerLinkActive="active">Template-Driven Form Example</a>
            </li>
            <!--[routerLinkActiveOptions]="{ exact: true }" use this on only 1 li to eliminate multile ACTIVE class'd attributes-->
            <li routerActive="bootstrap-mimic-active" class="navbar-item">
                <a id="loginLogoutPlaceholder" (click)="loginOrOutUser()">Login</a>
            </li>
        </ul>
    </div>
</header>
