@model UserViewModel
<!--USE JQUery to make this form READ-ONLY, until a user clicks the EDIT button-->
<main id="main-owner-detail">
	<section>
		<div class="container">
			<h1>Owner Detail</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<h3>Owner: @Model.FirstName @Model.LastName</h3>
			<form method="post">
				<div class="error-zone" asp-validation-summary="ModelOnly"></div>

				<label asp-for="FirstName">First Name:</label>
				<input asp-for="FirstName" />
				<span asp-validation-for="FirstName"></span><br />

				<label asp-for="LastName">Last Name:</label>
				<input asp-for="LastName" />
				<span asp-validation-for="LastName"></span><br />

				<label asp-for="Email">Email:</label>
				<input type="email" asp-for="Email" />
				<span asp-validation-for="Email"></span><br />

				<label asp-for="UserName">User Name:</label>
				<input type="text" asp-for="UserName" />
				<span asp-validation-for="UserName"></span><br />

				<label asp-for="Notes">Personal Notes:</label>
				<textarea rows="6" asp-for="Notes"></textarea>
				<span asp-validation-for="Notes"></span><br />

				<input type="button" value="Cancel" /><br />
				<input type="submit" value="Save Edited User" /><br />
				<span>@ViewBag.PostMessage</span>
			</form>

			<!--    Add an 'View More' button that creates a 'REQUEST' from the server for more 'Alerts'   -->
		</div>
	</section>
</main>
