@model IEnumerable<UserViewModel>

<main id="main-users">
	<section>
		<div class="container">
			<h1>@ViewBag.TitleText</h1>
		</div>
	</section>
	<section>
		<div class="container">
			<h2>Current Owners/Renters</h2>
			<article>
				<h4>Quick Actions Section</h4>
				<p>
					<span>There Are @if (Model != null) { Model.Count(); } else { @Html.Raw("<b>Zero</b>") } Owners in your view</span>
					<span><a asp-controller="UserManagement" asp-action="CreateUser">Add New Owner/Renter</a></span>
				</p>
			</article>
			<article>
				<h3>ReplaceWithModel-articleTitle-h3</h3>
				<p>
					Cream half and half flavour aromatic grounds saucer aromatic extraction whipped kopi-luwak rich grounds. Organic crema so barista beans affogato
					iced milk breve qui skinny. Caffeine cream single shot, percolator rich brewed seasonal extraction. Chicory, bar, coffee, so extraction, as,
					cinnamon siphon white percolator pumpkin spice.
				</p>
			</article>

			<!--    Add an 'View More' button that creates a 'REQUEST' from the server for more 'Alerts'   -->
		</div>
	</section>
</main>
