footer
	background-color $color-black
	h5
		display inline-block
	.footer-top
		background-color $color-gray-light
		@media $desktop-up
			padding-top 58px
			padding-bottom 38px
			border-bottom solid 1px $color-gray-medium
		.icon-expand-right
			&:after
				width 24px
			@media $desktop-up
				display none
		.footer-column-links
			list-style none
		.container-accordion
			@media $tablet-down
				border-bottom solid 1px $color-gray-medium
			.accordion-panel
				padding-left 0
				@media $tablet-down
					margin-bottom 14px
				ul
					li
						a
							color $color-gray-medium
							&:hover
								opacity .75
			.accordion-toggle
				@media $tablet-down
					display block
					padding 17px 0
		.footer-social-media-column
			@media $tablet-down
				text-align center
				padding-top 40px
				background-color $color-white
			.footer-column-with-icons
				.footer-link-icon
					width 27px
					height 27px
					border-radius 50%
					display inline-block
					background-color $color-gray-medium
					vertical-align middle
					margin-right 14px
					@media $tablet-down
						margin-right 0px
						width 67px
						height 67px
					@media $phone-down
						width 38px
						height 38px
				li
					margin-bottom 8px
					@media $tablet-down
						display inline-block
						margin 0px 20px
					@media $phone-down
						margin 0px 8px
					a
						color $color-gray-medium
						&:hover
							opacity .75
				li:first-child
					@media $tablet-down
						margin-left 0px
				li:last-child
					@media $tablet-down
						margin-right 0px
	.footer-bottom
		padding-top 46px
		.arrow-up
			display none
			@media $desktop-up
				display inline-block
				margin-left 49%
		.footer-text
			font-size 18px
			text-align center
			padding-bottom 20px
			@media $desktop-up
				padding-bottom 40px

#upArrowButton
	font-size 42px
	transform rotate(-90deg)
	display block
	margin-bottom 20px
	&:hover
		color $color-primary
		cursor pointer