header
	position fixed
	width 100%
	z-index 1
#primary-nav
	margin-top 0px
	transition .6s ease-in-out
	background-color $color-primary
	.name-description
		bottom 25px
		left 10px
		position absolute
		display none
		h1
			font-size 24px
			display inline
			color $color-primary
		p
			display inline
			color $color-primary
		@media $desktop-up
			position fixed
			top 10px
			display block
	.nav-right-list
		right 0px
		list-style-type none
		position fixed
		li
			display inline
			margin 15px
			a
				color $color-primary
#primary-nav.open
	right 0px
	.nav-right-list
		width 100%
		background-color $color-primary
		li
			display block
			a
				color $color-off-white

/*	Hamburger Button Styles */
#mobile-button-section
	background-color $color-primary
	padding 15px 0px
	min-height 70px
	@media $desktop-up
		display none
#btn-nav-menu
	width 40px
	height 35px
	position absolute
	transform rotate(0deg)
	transition .5s ease-in-out
	cursor pointer
	right 15px
#btn-nav-menu span
	display block
	position absolute
	height 6px
	width 100%
	background $color-secondary
	border-radius 2px
	opacity 1
	left 0
	transform rotate(0deg)
	transition .25s ease-in-out
#btn-nav-menu span:nth-child(1)
	top 0px
#btn-nav-menu span:nth-child(2), #btn-nav-menu span:nth-child(3)
	top 15px
#btn-nav-menu span:nth-child(4)
	top 30px
#btn-nav-menu.open span:nth-child(1)
	top 18px
	width 0%
	left 50%
#btn-nav-menu.open span:nth-child(2)
	transform rotate(45deg)
#btn-nav-menu.open span:nth-child(3)
	transform rotate(-45deg)
#btn-nav-menu.open span:nth-child(4)
	top 18px
	width 0%
	left 50%
#loginLogoutPlaceholder
	cursor pointer
	color $color-primary