<main id="home">
    <section class="home-hero">
        <div class="hero-bg-img"></div>
        <div class="main-center-text">
            <h2>Under Construction</h2>
            <p>please come back soon, Exciting things are happening !</p>
        </div>
    </section>
    <section class="home-about">
        <div class="home-about-bg-img"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="home-content">
                        <h2>A little about me ...</h2>
                        <p>.. Not much.</p>
                        <p>i'm okay ...</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!--<h1>This is the HOME Page</h1>
<div>
    Color Preference : <input type='text' [(ngModel)]='color' [style.background]='color' />
</div>-->
