img {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
@media screen and (max-width: 61.938em) {
  img {
    height: auto;
  }
}
html {
  margin: 0;
  padding: 0;
  font-size: 18px;
  height: initial;
  min-height: 100%;
  overflow-y: scroll /* has to be scroll, not auto */;
  -webkit-overflow-scrolling: touch;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
d {
  -ms-overflow-style: scrollbar;
}
@media only screen and (-webkit-min-device-pixel-ratio: 1.25), only screen and (min-device-pixel-ratio: 1.25), only screen and (min-resolution: 200dpi), only screen and (min-resolution: 1.25dppx) {
  d {
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}
body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 1.56;
  font-family: 'Open Sans', sans-serif;
  color: #777;
  font-style: normal;
  overflow: hidden;
  height: 100%;
  width: 100%;
}
p {
  font-size: 18px;
  line-height: 2;
}
a {
  text-decoration: none;
  font-size: 18px;
  line-height: 1.56;
}
ul,
ol {
  color: #777;
  padding: 0;
  margin: 0;
}
iframe {
  display: block;
}
select {
  -moz-appearance: none;
  -webkit-appearance: none;
}
select::-ms-expand {
  display: none;
}
h1 {
  color: #bfd546;
  font-size: 48px;
  margin-bottom: 30px;
}
h2 {
  color: #bfd546;
  font-size: 40px;
}
@media screen and (min-width: 48em) {
  h2 {
    font-size: 40px;
  }
}
h3 {
  color: #555;
  font-size: 32px;
}
h4 {
  color: #555;
  font-size: 24px;
  display: inline-block;
  margin-top: 0px;
  margin-bottom: 13px;
}
@media screen and (max-width: 61.938em) {
  h4 {
    margin-bottom: 0px;
  }
}
h5 {
  font-size: 20px;
  color: #555;
  margin-top: 0px;
  margin-bottom: 0px;
}
h6 {
  font-size: 20px;
  color: #555;
}
sup {
  top: -0.5em;
}
.line-break {
  border-top: 1px solid #000;
  height: 3px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
  filter: alpha(opacity=50);
  opacity: 0.5;
  zoom: 1;
  zoom: 1;
}
a:not([href]):not([tabindex]) {
  color: #fff;
}
.btn {
  font-size: 20px;
  line-height: 1.4;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
}
.btn-primary {
  background-color: #ff641c;
  color: #fff;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
}
.btn-secondary {
  background-color: #bfd546;
  color: #fff;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
}
.btn-light {
  background-color: #f1f1f2;
  color: #777;
  padding: 10px 20px;
  padding: 0.625rem 1.25rem;
}
.btn-ease-bckgrd {
  -webkit-transition: background-color 0.25s ease;
  -moz-transition: background-color 0.25s ease;
  -o-transition: background-color 0.25s ease;
  -ms-transition: background-color 0.25s ease;
  transition: background-color 0.25s ease;
}
.btn-grow-shadow {
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  -webkit-transform: perspective(1px) translateZ(0);
  -moz-transform: perspective(1px) translateZ(0);
  -o-transform: perspective(1px) translateZ(0);
  -ms-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-box-shadow: 0 0 1px transparent;
  box-shadow: 0 0 1px transparent;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  -ms-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  -webkit-transition-property: box-shadow, -webkit-transform;
  -moz-transition-property: box-shadow, -moz-transform;
  -o-transition-property: box-shadow, -o-transform;
  -ms-transition-property: box-shadow, -ms-transform;
  transition-property: box-shadow, transform;
}
.btn-grow-shadow:hover,
.btn-grow-shadow :focus,
.btn-grow-shadow :active {
  -webkit-box-shadow: 0 5px 5px -5px rgba(0,0,0,0.5);
  box-shadow: 0 5px 5px -5px rgba(0,0,0,0.5);
  -webkit-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -o-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  background-color: rgba(119,119,119,0.2);
}
[class^="btn-"] {
  margin: 0;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  color: #777;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media screen and (max-width: 61.938em) {
  .hide-tablet-down {
    display: none;
  }
}
@media screen and (min-width: 48em) {
  .hide-tablet-up {
    display: none;
  }
}
@media screen and (max-width: 61.938em) {
  .container.no-container-tablet-down {
    max-width: 100%;
  }
}
footer {
  background-color: #bfd546;
}
footer h5 {
  display: inline-block;
}
footer .footer-top {
  background-color: #f1f1f2;
}
@media screen and (min-width: 62em) {
  footer .footer-top {
    padding-top: 58px;
    padding-bottom: 38px;
    border-bottom: solid 1px #777;
  }
}
footer .footer-top .icon-expand-right:after {
  width: 24px;
}
@media screen and (min-width: 62em) {
  footer .footer-top .icon-expand-right {
    display: none;
  }
}
footer .footer-top .footer-column-links {
  list-style: none;
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .container-accordion {
    border-bottom: solid 1px #777;
  }
}
footer .footer-top .container-accordion .accordion-panel {
  padding-left: 0;
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .container-accordion .accordion-panel {
    margin-bottom: 14px;
  }
}
footer .footer-top .container-accordion .accordion-panel ul li a {
  color: #777;
}
footer .footer-top .container-accordion .accordion-panel ul li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
  zoom: 1;
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .container-accordion .accordion-toggle {
    display: block;
    padding: 17px 0;
    padding: 1.0625rem 0;
  }
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .footer-social-media-column {
    text-align: center;
    padding-top: 40px;
    background-color: #fff;
  }
}
footer .footer-top .footer-social-media-column .footer-column-with-icons .footer-link-icon {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  display: inline-block;
  background-color: #777;
  vertical-align: middle;
  margin-right: 14px;
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .footer-social-media-column .footer-column-with-icons .footer-link-icon {
    margin-right: 0px;
    width: 67px;
    height: 67px;
  }
}
@media screen and (max-width: 47.9375em) {
  footer .footer-top .footer-social-media-column .footer-column-with-icons .footer-link-icon {
    width: 38px;
    height: 38px;
  }
}
footer .footer-top .footer-social-media-column .footer-column-with-icons li {
  margin-bottom: 8px;
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .footer-social-media-column .footer-column-with-icons li {
    display: inline-block;
    margin: 0px 20px;
    margin: 0 1.25rem;
  }
}
@media screen and (max-width: 47.9375em) {
  footer .footer-top .footer-social-media-column .footer-column-with-icons li {
    margin: 0px 8px;
    margin: 0 0.5rem;
  }
}
footer .footer-top .footer-social-media-column .footer-column-with-icons li a {
  color: #777;
}
footer .footer-top .footer-social-media-column .footer-column-with-icons li a:hover {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
  filter: alpha(opacity=75);
  opacity: 0.75;
  zoom: 1;
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .footer-social-media-column .footer-column-with-icons li:first-child {
    margin-left: 0px;
  }
}
@media screen and (max-width: 61.938em) {
  footer .footer-top .footer-social-media-column .footer-column-with-icons li:last-child {
    margin-right: 0px;
  }
}
footer .footer-bottom {
  padding-top: 46px;
}
@media screen and (min-width: 35.9375em) {
  footer .footer-bottom .container {
    padding: 0;
  }
}
footer .footer-bottom .footer-row-links a {
  border: 1px solid #777;
  border-bottom: 0;
  text-align: center;
  font-weight: 700;
  color: #555;
  font-size: 14px;
  padding-top: 12px;
  padding-bottom: 12px;
}
@media screen and (min-width: 35.9375em) {
  footer .footer-bottom .footer-row-links a {
    border: 0;
    font-size: 16px;
  }
}
@media screen and (min-width: 62em) {
  footer .footer-bottom .footer-row-links a {
    text-align: left;
    border-right: 1px solid #777;
    padding-top: 0;
    padding-bottom: 0;
  }
}
footer .footer-bottom .footer-row-links a:first-child {
  border-right: 0;
}
@media screen and (min-width: 62em) {
  footer .footer-bottom .footer-row-links a:first-child {
    border-right: 1px solid #777;
  }
}
footer .footer-bottom .footer-row-links a:last-child {
  border-left: 1px solid #777;
  border-bottom: 1px solid #777;
}
@media screen and (min-width: 35.9375em) {
  footer .footer-bottom .footer-row-links a:last-child {
    border: 0;
  }
}
footer .footer-bottom .footer-text {
  margin-top: 23px;
  font-size: 14px;
  line-height: 1.86;
  text-align: left;
  margin-left: -15px;
  margin-right: -15px;
}
@media screen and (min-width: 48em) {
  footer .footer-bottom .footer-text {
    text-align: center;
  }
}
@media screen and (min-width: 62em) {
  footer .footer-bottom .footer-text {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
  }
}
header {
  position: fixed;
  width: 100%;
  z-index: 1;
}
header .primary-nav {
  margin-top: -200%;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
header .primary-nav.open {
  margin-top: 0px;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  background-color: #bfd546;
}
header .primary-nav.open .logo-placeholder {
  display: none;
}
@media screen and (min-width: 62em) {
  header .primary-nav.open .logo-placeholder {
    display: inline-block;
  }
  header .primary-nav.open .logo-placeholder img {
    max-width: 125px;
  }
}
header .primary-nav.open .nav-right-list {
  display: block;
}
@media screen and (min-width: 62em) {
  header .primary-nav.open .nav-right-list {
    display: inline-block;
    margin-top: 30px;
    float: right;
  }
}
header .secondary-nav {
  margin-top: -200%;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
}
header .secondary-nav.open {
  margin-top: 0px;
  -webkit-transition: 0.6s ease-in-out;
  -moz-transition: 0.6s ease-in-out;
  -o-transition: 0.6s ease-in-out;
  -ms-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out;
  background-color: #ff641c;
}
@media screen and (min-width: 62em) {
  header .secondary-nav.open .secondary-nav-list {
    padding: 15px 0px;
    padding: 0.9375rem 0;
    text-align: right;
  }
}
header li {
  display: block;
  text-align: center;
  padding: 10px 0px;
  padding: 0.625rem 0;
  text-transform: uppercase;
}
@media screen and (min-width: 62em) {
  header li {
    display: inline;
    margin-left: 25px;
    text-transform: unset;
  }
}
@media screen and (min-width: 62em) {
  #nav-cusion {
    margin-bottom: 160px;
  }
}
.mobile-button-section {
  display: block;
  background-color: #f7001b;
  padding: 15px 0px;
  padding: 0.9375rem 0;
  min-height: 70px;
}
@media screen and (min-width: 62em) {
  .mobile-button-section {
    display: none;
  }
}
#btn-nav-menu {
  width: 40px;
  height: 35px;
  position: absolute;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  -ms-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  right: 15px;
}
#btn-nav-menu span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #ff641c;
  border-radius: 2px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=100);
  opacity: 1;
  zoom: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: 0.25s ease-in-out;
  -moz-transition: 0.25s ease-in-out;
  -o-transition: 0.25s ease-in-out;
  -ms-transition: 0.25s ease-in-out;
  transition: 0.25s ease-in-out;
}
#btn-nav-menu span:nth-child(1) {
  top: 0px;
}
#btn-nav-menu span:nth-child(2),
#btn-nav-menu span:nth-child(3) {
  top: 15px;
}
#btn-nav-menu span:nth-child(4) {
  top: 30px;
}
#btn-nav-menu.open span:nth-child(1) {
  top: 18px;
  width: 0;
  left: 50%;
}
#btn-nav-menu.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
#btn-nav-menu.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
#btn-nav-menu.open span:nth-child(4) {
  top: 18px;
  width: 0;
  left: 50%;
}
.clearfix::after {
  display: block;
  content: "";
  clear: both;
}
.device,
.device:after,
.device:before {
  display: block;
}
.device {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 99999;
  padding: 10px;
  padding: 0.625rem;
  background: #000;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
}
@media screen and (max-width: 61.938em) {
  .device:after {
    content: "tablet \2193";
  }
}
@media screen and (max-width: 47.9375em) {
  .device:after {
    content: "phone \2193";
  }
}
@media screen and (min-width: 48em) {
  .device:after {
    content: "tablet \2191";
  }
}
@media screen and (min-width: 62em) {
  .device:after {
    content: "desktop \2191";
  }
}
@media screen and (min-width: 75em) {
  .device:after {
    content: "desktop-large \2191";
  }
}
@media all and (-webkit-min-device-pixel-ratio: 1.5) {
  .device {
    padding: 10px 5px 3px 8px;
    padding: 0.625rem 0.3125rem 0.1875rem 0.5rem;
  }
  .device:before {
    content: 'retina';
    font-size: 7px;
    font-weight: 700;
    letter-spacing: 7.5px;
    line-height: 1.1;
    color: #f00;
  }
}
.img-responsive {
  width: 100%;
}
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  margin: -0.0625rem;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=10)";
  filter: alpha(opacity=10);
  opacity: 0.1;
  zoom: 1;
}
#home h1 {
  text-align: center;
}
#home .grid-section-three {
  background-color: #f1f1f2;
  height: 200px;
  border: 1px solid #555;
  margin-bottom: 40px;
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
#home .grid-section-three span {
  color: #555;
  font-weight: 700;
}
