#main-home
	h1
		text-align center
	.grid-section-three
		background-color $color-gray-light
		height 200px
		border 1px solid $color-gray-dark
		margin-bottom 40px
		display inline-flex
		align-items center
		justify-content center
		span
			color $color-gray-dark
			font-weight $weight-bold